%h1 Homes
%div.container-fluid
  %form{method:"get",action:"fetch"}
    %div.row.jumbotron
      %div.col-md-offset-2  
      %div.col-md-6
        %label.label.label-primary
          %input.form-control{placeholder:"Series",type:"text",name:"series"}
      %div.col-md-4
        %button.btn.btn-primary{type:"submit"} Crawl Episodes
